<%= turbo_frame_tag(dom_id(@comment)) do %>
  <%= form_for @comment, url: movie_comment_path(@comment, movie_id: @comment.commentable.id), method: :patch, html: { class: "edit-comment-form" } do |form| %>
    <div >
      <%= form.text_area :body %>
    </div>
    <div >
      <%= form.submit  %>
    </div>
  <% end %>
<% end %>
